.ubuntu_setup.sh
/.config/qtile/__pycache__/
/.zsh/.zcompdump
/.zsh/.zcompdump-kaypro-UX330UAK-5.9
/.zsh/.zcompdump-kaypro-UX330UAK-5.9.zwc
/.config/mps-youtube/cache_py_3.11.
/.config/mps-youtube/transcode
